<footer class="footer">
  <div class="container">
    <div class="text-center">
        <div class="footer-nav block-flex-center">
            <div><a href="https://www.facebook.com/DestoPlanet/" target="_blank"><img src="/public/img/MTR-7.png"></a></div>
            <div><a href="https://www.youtube.com/channel/UCuHselcUnNwfUVD4LIr_Bmw/featured" target="_blank"><img src="/public/img/MTR-8.png"></a></div>
            <!-- <div><a href="https://t.me/joinchat/BWqhdlL0qcL5qaAqsAQQcw" target="_blank"><img src="/public/img/MTR-9.png"></a></div> -->
          </div>
      <div class="footer-nav block-flex-center">
        <div class="footer-nav-item"><a href="https://www.deowallet.com/" target="_blank">DESTO WALLET</a></div>
        <div class="footer-nav-item"><a href="https://www.destopay.com/" target="_blank">DESTOPAY</a></div>
        <div class="footer-nav-item"><a href="https://www.destoclub.io/" target="_blank">DESTO CLUB</a></div>
      </div>
      <div class="footer-nav block-flex-center">
        <div><a href="https://s3-ap-southeast-1.amazonaws.com/desto-public-content/DESTO_privacy-policy.pdf" target="_blank">Privacy Policy</a></div>
        <div><a href="https://s3-ap-southeast-1.amazonaws.com/desto-public-content/DESTO_full-disclaimer.docx">Full Disclaimer</a></div>
        <!-- <div><a href="#">Terms & Conditions</a></div> -->
        <div><a href="contact.html">Contact Us</a></div>
      </div>
      <div class="footer-copy">© 2019 Desto</div>
    </div>
  </div>
</footer>