<!DOCTYPE html>
<html>
<head>
	<title>Calculate Zakat</title>
	<link rel="stylesheet" type="text/css" href="/public/style.css">
	<link href="/public/css/bootstrap.css" rel="stylesheet" />
     <!-- FONTAWESOME STYLES-->
	 <link href="/public/css/all.css" rel="stylesheet" /> 
	

</head>
<body>
    <div class="wrapper">
    <%- include('part/header'); %>
    
        
        <div class="main">
                <div class="page-inner">
                    <div class="page-inner-title"><h2>Contact Us</h2></div>
                    <section class="contact">
            <div class="container">
                <div class="contact_content block-flex-top">
                    <div class="contact_content_item">
                        <div class="contact_name aos-init aos-animate" data-aos="zoom-in">
                            Crypto Zakat
                            <br><br>
                            
                        </div>
                        <div class="contact_content_item_items block-flex-top aos-init aos-animate" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="300">
                            <div class="icon icon_location"></div>
                            <div class="contact_text">
                                <div class="contact_text_title">LOCATION</div>
                                <br>
                                Maxim Business Park Maxim 1 - 1st floor
                                <br>
                                2 Parklands Way, Eurocentral Motherwell
                                <br>
                                Dumfries &amp; Galloway Region ML1 4WR (UK) 
                            </div>
                        </div>
                        <div class="contact_content_item_items block-flex-top aos-init aos-animate" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="500">
                            <div class="icon icon_phone"></div>
                            <div class="contact_text">
                                <div class="contact_text_title">CALL</div>
                                <br>
                                +44 1698 209 100
                            </div>
                        </div>
                    </div>
                    <div class="contact_content_item">
                        <div class="contact_name aos-init aos-animate" data-aos="zoom-in">
                            Desto Blockchain LLC
                            <br>
                            (6739190)
                        </div>
                        <div class="contact_content_item_items block-flex-top aos-init aos-animate" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="300">
                            <div class="icon icon_location"></div>
                            <div class="contact_text">
                                <div class="contact_text_title">LOCATION</div>
                                <br>
                                913, N. Market Street, Suite 200, 
                                <br>WIlmington, DE 19801 USA
                                <br><br>
                            </div>
                        </div>
                        <div class="contact_content_item_items block-flex-top aos-init aos-animate" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="500">
                            <div class="icon icon_phone"></div>
                            <div class="contact_text">
                                <div class="contact_text_title">CALL</div>
                                <br>
                                (302) 884 7669
                            </div>
                        </div>
                        <div class="contact_content_item_items block-flex-top aos-init aos-animate" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="700">
                            <div class="icon icon_email"></div>
                            <div class="contact_text">
                                <div class="contact_text_title">EMAIL</div>
                                <br>
                                support@desto.io
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </section>
                    <section class="section-contact" id="contact">
            <div class="container">
                
                <form id="contact-form" class="section-contact-form aos-init aos-animate" data-aos="zoom-in">
                   
                    <div class="form-group">
                        <div class="form-control-icon right"><a href="#"><i class="icon icon-middle icon-send"></i></a></div>
                        <input type="email" class="form-control" placeholder="Enter Your Email">
                    </div>
                </form>
                <div id="contact-form-success" hidden="" class="section-contact-form section-contact-form_success aos-init aos-animate" data-aos="zoom-in">
                    Thank you for signing up!<br>You can learn more about Desto in our
                    <a href="https://s3-ap-southeast-1.amazonaws.com/desto-public-content/Desto+White+Paper+6.pdf">whitepaper</a>.
                    <br>Stay tuned.
                </div>
                <div class="section-contact-directly">
                    <div class="section-contact-directly-text">Or you can contact us directly via</div>
                    <div class="section-contact-directly-link block-flex-center">
                        <div>
                            <a data-aos="fade-down" data-aos-easing="linear" data-aos-duration="900" href="mailto:support@desto.io" class="aos-init">support@desto.io</a>
                        </div>
                        <div>
                            <a data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1100" href="mailto:apply@desto.io" class="aos-init">apply@desto.io</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
                </div>
            </div>
        
            <%- include('part/footer'); %>
        </div>

        

    
   
  
    <script src="js/lang_switch.js"></script>

    <!-- LIVE Chat -->
    <script type="text/javascript">

    (function(d, src, c) { var t=d.scripts[d.scripts.length - 1],s=d.createElement('script');s.id='la_x2s6df8d';s.async=true;s.src=src;s.onload=s.onreadystatechange=function(){var rs=this.readyState;if(rs&&(rs!='complete')&&(rs!='loaded')){return;}c(this);};t.parentElement.insertBefore(s,t.nextSibling);})(document,
    
    'https://desto-io.ladesk.com/scripts/track.js',
    
    function(e){ LiveAgent.createButton('e61af6bd', e); });
    
    </script>


    <script src="/public/js/jquery.fancybox.js"></script>
    <script src="/public/js/nav_scroll.js"></script>
    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/video.js"></script>
    <script src="/public/js/script.js"></script>
    <script src="/public/js/aos.js"></script>
    <script src='/public/js/popup.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script> 
    document.getElementById("head").classList.remove("home");
	document.getElementById("menu5").className = "active";
    </script>

</body>
</html>