<html lang="en">
<head>
    <title>Calculate Zakat</title>
    <link rel="stylesheet" type="text/css" href="/public/style.css">
</head>
<body>
    <%- include('part/header.ejs'); %>
    <div class="container-zakat">
	    <div class="box">
            <h3>Zakat Calculator</h3>
            <h4>Your payble Zakat is <%- result %> </h4>
        </div>
    </div>
    
    <script type="text/javascript">
        document.getElementById("head").classList.remove("home");
    </script>
</body>
</html>