<!DOCTYPE html>
<html>
<head>
	<title>Calculate Zakat</title>
	<link rel="stylesheet" type="text/css" href="/public/style.css">
	<link href="/public/css/bootstrap.css" rel="stylesheet" />
     <!-- FONTAWESOME STYLES-->
	 <link href="/public/css/all.css" rel="stylesheet" /> 
	

</head>
<body>
<%- include('part/header.ejs'); %>
<div class="main">
	<div class="page-inner">
	<div class="box">
		<div class="col-md-12 ">
			<div class="panel panel-bg">
				<div class="panel-heading">
					<h3>Calculate your Zakat</h3>
				</div>
				<div class="panel-body">
					<form method="GET" class="form" id="zakatForm" novalidate="novalidate">
		  
						<div class="form-group input-group">
							<span class="input-group-addon">Crypto Currency Type</span>
							<span class="input-group-addon"><i class="fas fa-coins"></i></span>
								<select name="crypto" id="crypto" class="select-field form-control">
								   <option value="BitCoin" selected=""> &#xf72e; BitCoin</option>
								   <option value="Ethereum">Ethereum</option>
								   <option value="Ripple">Ripple</option>
								   <option value="Litecoin">Litecoin</option>
								   <option value="Tether">Tether</option>
								   <option value="Libra">Libra</option>
								   <option value="Monero">Monero</option>
								   <option value="EOS">EOS</option>
							   </select>
						</div>


						<div class="form-group input-group">
							<span class="input-group-addon">Lowest Value of Crypto (yearly)</span>
							<span class="input-group-addon"><i class="fas fa-dollar-sign"></i></span>
							<input type="number" class="form-control" name="value" id="value" value="0">
						</div>
						
						<div class="form-group input-group">
							<span class="input-group-addon">Unit of Cryptocurrency</span>
							<span class="input-group-addon"><i class="fas fa-coins"></i></span>
							<input type="number" class="form-control" name="unit" id="unit" value="0">
						</div>
						
						<div class="form-group input-group">
							<span class="input-group-addon">Profit Margin</span>
							<span class="input-group-addon"><i class="fas fa-dollar-sign"></i></span>
							<input type="number" class="form-control" name="profit" id="profit">
						</div>
						
						<div class="payable">
							<h4>Zakat payable:  $
							<span class="total" id="zakat" name="zakat">0.00</span></h4>
						</div>
						
						
						<div class="right">
							<a onclick="calculate()" class="btn btn-primary btn-md">
								Calculate</a>
						</div>
	
					</form>
				</div>

			</div>   
		</div>
	</div>
</div>
<%- include('part/footer.ejs'); %>
<script type="text/javascript">
	document.getElementById("head").classList.remove("home");
	document.getElementById("menu2").className = "active";

	function calculate(){
		var value = parseFloat(document.getElementById("value").value);
		var unit = parseFloat(document.getElementById("unit").value);
		var profit = parseFloat(document.getElementById("profit").value);
		var result = ((value * unit) + profit)*0.025;
		
		document.getElementById("zakat").innerHTML = result;
		document.getElementById("btcpay-input-price").value = result;
	}
     
</script>
</body>
</html>